@use 'sass:color';

.home {
    .hero,
    .potential,
    .features,
    .practice-cta,
    .invitation,
    .info-section,
    .register,
    .acknowledgement {
        padding-inline: clamp(1rem, 3.5vw, 3rem) !important;
    }

    .hero {
        position: relative;
        min-height: clamp(30svh, 40vw, 70svh);
        text-align: center;
        overflow: hidden;

        .hero-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        .hero-content {
            position: relative;
            z-index: 10;
            margin-inline: auto;
            margin-top: 6rem;
            min-height: 40vh;

            h1 {
                font-size: clamp(var(--fz-xl), 10vw, var(--fz-2xl));
                font-weight: bold;
                color: #ab2024;
                margin-bottom: 1rem;
            }

            p {
                margin-inline: auto;
                max-width: 48%;
                font-size: var(--fz-sm);
                color: #3e3e3e;
                margin-bottom: 2rem;
                font-weight: 600;
                line-height: 129%;
            }
        }
    }

    .stats-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 1rem 3rem;
        background: #000;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            padding: 1rem 1.5rem;
            font-size: var(--fz-sm);
            border-radius: 20px;
            background: rgba(149, 149, 149, 0.2);
            text-align: center;
            flex: 1 1 180px;
            min-height: 65px;
            box-shadow: -2px 0px 3px rgba(255, 255, 255, 0.35), 2px 0px 3px rgba(255, 255, 255, 0.35);
            transition: transform 0.2s ease;

            &:hover {
                transform: translateY(-4px);
            }
        }
    }

    .potential {
        padding: 2rem 0;

        .potential-wrapper {
            display: flex;
            gap: 2rem;
            margin: 0 auto;

            video {
                max-width: 40%;
                width: 100%;
                height: auto;
                border-radius: 10px;
            }

            .text {
                max-width: 620px;

                h2 {
                    color: #ab2024;
                    font-size: clamp(var(--fz-lg), 7vw, var(--fz-xl));
                    margin-bottom: 1rem;
                }

                p {
                    color: #3e3e3e;
                    font-size: var(--fz-md);

                    &:last-child {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }

    .features {
        padding: 3rem 0;
        text-align: center;

        h3 {
            color: #b91c1c;
            font-size: clamp(var(--fz-lg), 8vw, var(--fz-xl));
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            font-size: 1rem;
            color: #3e3e3e;
        }

        .feature-grid {
            display: grid;
            gap: 2rem;
            margin: 0 auto;

            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
                align-items: stretch;
            }
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 1rem;
            border-radius: 12px;
            border: 1px solid rgba(171, 32, 36, 0.1);
            background: rgba(171, 32, 36, 0.05);
            text-align: left;

            img {
                margin-bottom: 0.5rem;
            }

            h4 {
                color: #ab2024;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 0.95rem;
                color: #3e3e3e;
            }
        }
    }

    .invitation {
        text-align: center;
        padding: 3rem 1.5rem 0;
        margin-bottom: 4rem;

        h3 {
            color: #ab2024;
            font-size: clamp(var(--fz-lg), 8vw, var(--fz-xl));
            margin-bottom: 0.5rem;
        }

        > p {
            max-width: 90%;
            margin: 0 auto 2rem;
            color: #3e3e3e;
        }

        .grade-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1.2rem;
            justify-content: center;

            .grade-card {
                padding: 1.2rem;
                text-align: left;
                border-radius: 12px;
                border: 1px solid rgba(171, 32, 36, 0.1);
                background: rgba(171, 32, 36, 0.05);

                h4 {
                    color: #ab2024;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 0.9rem;
                    color: #3e3e3e;
                }
            }
        }
    }

    .info-section {
        h2 {
            text-align: center;
            font-size: clamp(var(--fz-lg), 8vw, var(--fz-xl));
            color: #ab2024;
            margin-bottom: 1rem;
        }

        p {
            text-align: left;
            margin: 0 auto 4rem;
            color: #3e3e3e;
            font-weight: 510;
            width: 80%;
        }
    }

    .register {
        text-align: center;
        padding: 3rem 1rem;

        h3 {
            font-size: clamp(var(--fz-lg), 8vw, var(--fz-xl));
            color: #ab2024;
            margin-bottom: 1rem;
        }

        .video-placeholder {
            display: flex;
            justify-content: center;

            .video-box {
                width: 90%;
                max-width: 640px;
                height: 360px;
                background-color: #000;
            }
        }
    }

    .about-ie {
        padding: 3rem 0;
        text-align: center;

        h3 {
            color: #b91c1c;
            font-size: clamp(var(--fz-lg), 8vw, var(--fz-xl));
            margin-bottom: 3rem;
        }

        .about-ie-wrapper {
            display: grid;
            gap: 2rem;
            max-width: 95%;
            margin: 0 auto;
            align-items: stretch;

            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .card {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 1.5rem;
                border-radius: 12px;
                border: 1px solid rgba(171, 32, 36, 0.1);
                background: rgba(171, 32, 36, 0.05);
                text-align: left;

                h4 {
                    color: #ab2024;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 0.95rem;
                    color: #3e3e3e;
                }
            }
        }
    }

    .acknowledgement {
        text-align: center;
        padding: 3rem 1rem;

        h3 {
            font-size: clamp(var(--fz-lg), 8vw, var(--fz-xl));
            color: #ab2024;
            margin-bottom: 2rem;
        }

        .sponsors {
            img {
                width: 100%;
                height: 40px;
                object-fit: cover;
            }
        }
    }
}

// mobile media queries
@media (max-width: 599px) {
    .hero {
        .hero-content {
            margin-top: 3rem !important;

            p {
                margin-bottom: 1rem !important;
                max-width: 100% !important;
            }

            .stats-container {
                max-width: 100% !important;
            }

            .stats {
                grid-template-columns: repeat(2, minmax(133px, 1fr)) !important;
                gap: 2rem !important;
            }
        }
    }

    .stats-container {
        gap: 1rem !important;
        padding: 1rem !important;
    }

    .potential {
        .potential-wrapper {
            flex-direction: column;

            video {
                max-width: 100% !important;
            }

            .text {
                max-width: 100% !important;
            }
        }
    }

    .practice-cta {
        flex-direction: column;
        p {
            text-align: center !important;
            width: 100% !important;
        }

        .cta-btn {
            margin-right: 0 !important;
        }
    }

    .info-section {
        p {
            width: 95% !important;
        }
    }
} 
