@use 'sass:color';

.practice-cta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    
    p {
        color: #ab2024;
        font-size: var(--fz-xl);
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
        z-index: 10;
    }

    .cta-btn {
        color: white;
        border: none;
        padding: 0.6rem 1.7rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 12px;
        border: 2px solid #630003;
        background: #ab2024;
        box-shadow: 0 4px 49px 0 rgba(0, 0, 0, 0.16);
        margin-right: 3rem;
        z-index: 10;
        transition: all 300ms ease;

        &:hover {
            transform: translateY(5px);
            background: color.adjust(#ab2024, $lightness: 10%);
        }
    }

    @media screen and (max-width: 599px) {
        & {
            padding: 2rem 0;

            p {
                margin-bottom: 2rem;
            }
        }
    }
}
