.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(0.7rem, 1.5vw, 1.5rem) clamp(1rem, 3.5vw, 2.5rem);
    background-color: #fff;
    box-shadow: 0 4px 49px 0 rgba(0, 0, 0, 0.08);
    border-radius: 0 0 8px 8px;
    position: sticky;
    top: 0;
    z-index: 100;

    .logo {
        cursor: pointer;

        a img {
            width: 100%;
            object-fit: cover;
        }
    }

    .links-container {
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
            list-style: none;
            margin: 0;
            padding: 0;

            .link {
                a {
                    text-decoration: none;
                    color: #404040;
                    font-weight: 500;
                    font-size: var(--fz-sm);
                    padding: 7px;
                    border-radius: 10px;
                    transition: all 300ms ease;

                    &:not(.profile-icon):hover {
                        color: #fff;
                        background-color: #ab2024;
                    }
                }

                &.active a {
                    color: #fff;
                    background-color: #ab2024;
                }
            }
        }
    }

    .menu-toggle {
        display: none;
        cursor: pointer;
    }

    .profile-icon {
        display: flex;
        align-items: center;

        .profile-avatar {
            border-radius: 50%;
            object-fit: cover;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .logout-btn button {
        background: none;
        border: none;
        color: #404040;
        font-weight: 590;
        cursor: pointer;
        padding: 0;
    }

    @media (max-width: 768px) {
        .menu-toggle {
            display: block;
        }

        .links-container {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #fff;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
            display: none;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

            ul {
                flex-direction: column;
                gap: 1.2rem;

                .link a {
                    font-size: 1.1rem;
                }
            }

            &.open {
                display: flex;
            }
        }

        .links-container ul {
            flex-direction: column;
            align-items: center;
        }
    }
}
