.refund-container {
    margin-inline: auto;
    padding: 2rem clamp(1rem, 4vw, 3rem);

    > h2 {
        color: #ab2024;
        font-size: var(--fz-lg);
        margin-bottom: 2rem;
    }

    > section:nth-of-type(8) p {
        font-weight: 700;
    }
}
